<!DOCTYPE html>
<html lang="en">

<head>
    <title>R-Hub</title>
    <link rel="stylesheet" href="/output.css">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<body class="bg-gray-50 font-Roboto selection:bg-slate-200">
    <header class="w-full top-0 bg-gray-50 backdrop-blur-xl flex justify-between items-center p-2 lg:px-16 fixed transition-all duration-500 ease-in-out">
        <a class="text-xl font-bold p-2 text-black flex space-x-1 items-center" href="/">
            <div>R-Hub</div>
            <div class="text-sm font-thin rounded-lg">Beta</div>
        </a>
        <div id="menu_div" class="flex space-x-8">
            <a href="/post/new" class="hidden lg:flex font-black space-x-2 justify-center items-center p-2 px-4 text-white bg-[#003558] rounded-md border border-[#162027] hover:bg-[#02324d] transition-all duration-200 ease-in-out">
                <div>Add new post</div>
                <div class="flex fill-white"><box-icon name='folder-plus' ></box-icon></div>
            </a>
            <div class="relative">
                <img id="avatar"
                    class="hover:hue-rotate-15 transition-all duration-100 ease-in-out select-none cursor-pointer w-12 rounded-full border border-gray-700"
                    src="<%= user.picture %>" alt="">
                <div id="list"
                    class="hidden w-44 flex-col font-thin bg-[#003558] text-white bg-opacity-[0.96] backdrop-blur-lg pt-4 shadow-lg rounded-lg absolute top-full -left-24 mt-2 -z-10 p-2">
                    <a class="hover:font-normal transition-all duration-100 ease-in-out py-2 px-4" href="/">Home</a>
                    <a class="hover:font-normal transition-all duration-100 ease-in-out py-2 px-4" href="/post/new">Add new post</a>
                    <a class="hover:font-normal transition-all duration-100 ease-in-out py-2 px-4" href="/post/65bc1ecfd543eed37c1fbdb4">About Us</a>
                    <div class="py-0.5"><hr class="opacity-30"></div>
                    <a class="hover:font-normal transition-all duration-100 ease-in-out py-2 px-4" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main
        class="absolute -z-20 py-16 max-w-full w-full overflow-hidden text-black flex flex-col justify-center items-center">
        <div class="lg:w-[60rem] lg:p-12 p-4">
            <a href="/" class="flex w-fit opacity-65">
                <box-icon class="scale-110" name='left-arrow-alt'></box-icon>
            </a>
            <div class="flex py-2"></div>
            <div class="bg-white p-4 rounded border">
                <form action="" method="post">
                    <div>
                        <h1 class="text-xl">🖇 Please fill out the form following the rules</h1>
                    </div>
                    <div class="flex py-4">
                        <hr class="w-full">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <div class="flex flex-col space-y-1">
                            <label class="text-lg" for="post_title">Title</label>
                            <input name="title" required class="bg-gray-50 p-2 rounded border focus:outline-none"
                                placeholder="dynamic resized and generic arra..." id="post_title" type="text">
                        </div>
                        <div class="flex py-2 w-full opacity-50">
                            <hr class="w-full">
                        </div>
                        <div class="flex flex-col space-y-1">
                            <label class="text-lg" for="post_desc">Description</label>
                            <input name="description" required class="bg-gray-50 p-2 rounded border focus:outline-none"
                                placeholder="write a short to medium description" id="post_desc" type="text">
                        </div>
                        <div class="flex py-2 w-full opacity-50">
                            <hr class="w-full">
                        </div>
                        <div class="flex flex-col space-y-1">
                            <label class="text-lg" for="post_tags">Tags</label>
                            <input name="tags" required class="bg-gray-50 p-2 rounded border focus:outline-none"
                                placeholder="write your tags separated by a space, ex: Algorithms push_swap c_programming"
                                id="post_tags" type="text">
                        </div>
                    </div>
                    <div class="flex py-8">
                        <hr class="w-full">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <div class="flex flex-col space-y-1">
                            <label class="text-lg" for="post_body">Body</label>
                            <textarea name="body" placeholder="another awesome resource to share"
                                class="bg-gray-50 p-2 rounded border focus:outline-none" name="" id="post_body"
                                cols="30" rows="10"></textarea>
                        </div>
                        <div class="flex py-2 w-full opacity-50">
                            <hr class="w-full">
                        </div>
                        <div class="flex flex-col space-y-1">
                            <label class="text-lg flex space-x-2" for="post_links">
                                <div>Links</div>
                                <button type="button"
                                    class="flex justify-center items-center bg-gray-100 fill-gray-600 hover:bg-gray-200 rounded">
                                    <div class="flex justify-center items-center scale-75"><box-icon
                                            name='plus'></box-icon></div>
                                </button>
                            </label>
                            <div class="flex py-1"></div>
                            <div class="flex flex-col space-y-3">
                                <div id="input_field" class="flex items-center w-full space-x-2">
                                    <div class="opacity-65">●</div>
                                    <input name="links[]" required class="bg-gray-50 p-2 rounded border focus:outline-none w-full"
                                        placeholder="past your link address here" id="post_links" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex py-4"></div>
                    <div class="flex justify-end">
                        <button type="submit"
                            class="font-bold bg-slate-500 hover:bg-slate-600 text-white p-2 px-4 rounded">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="/index_dom.js"></script>
    <script>
        // add input_field each time the user clicks on the button
        let input_field = document.getElementById('input_field');
        let button = document.querySelector('button');
        button.addEventListener('click', () => {
            let new_input_field = input_field.cloneNode(true);
            new_input_field.childNodes[3].value = '';
            input_field.parentNode.appendChild(new_input_field);
        });
    </script>
    <script>
        window.addEventListener("scroll", () => {
            let header = document.querySelector("header");
            let menu_div = document.querySelector("#menu_div");
            if (window.scrollY > 240)
            {
                header.classList.remove("top-0");
                header.classList.add("-top-24");
                list.classList.add("hidden");
                list.classList.remove("flex");
            }
            else
            {
                header.classList.remove("-top-24");
                header.classList.add("top-0");
            }
            console.log(window.scrollY);
        });
    </script>
</body>

</html>